main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 150px;
    align-items: center;
    margin-top: 5%;
}

h2 {
    text-align: center;
}

.container-estacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 3%;
    width: 100%;
    /* background-color: bisque; */
    border: 1px solid black;
}

#data {
    height: 8%;

}