body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(46, 46, 46);
    color: white;
}

header {
    margin-left: 10%;
    margin-bottom: 5%;
}

header h1 {
    font-size: 3rem;
    border-bottom: 1px solid white;
    width: fit-content;
}

form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2%;
}

.formGroup {
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-end;
}

.field {
    padding: 5px;
    border-radius: 5px;
    min-width: 150px;
}

.button-confirm {
    height: 30px;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(2, 48, 2);
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
}

.button-confirm:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.error {
    color: red;
}

.success {
    color: green;
}

strong {
    margin-left: 35%;
    font-size: 1.2rem;

}