.card {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 7px;
    border-radius: 16px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;

}

.titulo {
    text-align: center;
    margin-bottom: 10px;
}

.img {
    width: 80%;
    max-height: 150px;
    border-radius: 16px;
}

.descricao {
    font-size: 0.8rem;
    width: 80%;
    text-align: justify;
    padding: 10px;
}

.cardBottom {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.logo {
    width: 30px;
}

.info {
    display: flex;
    gap: 10px;
    align-items: center;
}