.header {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}

.container {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.decor {
    width: 12%;
    border-bottom: 1px solid black;
}

.logo {
    width: 60px;
}

.menu {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 5px 18px;
    border-radius: 16px;
    background-color: black;
}

.menu:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

@media (max-width: 600px) {
    .header {
        width: 100%;
        padding-top: 20px;
        flex-direction: column;
        gap: 30px;
    }

    .decor {
        display: none;
    }

    .logo {
        display: none;
    }

    .title {
        padding-top: 15px;
    }

    .nav {
        margin-bottom: 15px;
    }
}