@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
    background: rgb(17, 18, 18);
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

h2 {
    margin: 0;
    font-size: 1.3em;
}

h3 {
    margin: 0;
    font-size: 1em;
}

button {
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
    padding: 16px 24px;
    text-transform: uppercase;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}

main {
    padding: 3% 5%;
}

section {
    margin-bottom: 3em;
}

.title {
    display: flex;
    align-items: center;
}

.title img {
    margin-right: 1em;
}

.nav {
    display: flex;
    align-items: center;
}

.nav li {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.2em;
}

.nav li a {
    color: rgb(226, 147, 44);
    font-weight: bold;
    text-decoration: none;
}

.nav li a:hover {
    color: rgba(226, 147, 44, 0.596);
}

.title-section {
    margin: 20px 0;
}

.card {
    display: flex;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
    flex: 3;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-img img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 1em 0 0 1em;
}

.card-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    padding: 30px;
}

.card-info-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-info p {
    font-size: 1rem;
    color: #626567;
    margin: 0;
}

.card-info span {
    font-size: 0.8rem;
    color: #626567;
}

.card-info .container-date .text-orange {
    color: rgb(226, 147, 44);
    font-weight: bold;
}

.container-date {
    display: flex;
    gap: 10px;
}

.card-info-footer {
    display: flex;
    margin-top: 20px;
}

.card-info-footer button {
    display: flex;
    flex: 1;
    justify-content: center;
    border: 1px solid #424949;
    color: #424949;
    background-color: transparent;
}

.card-info-footer button:hover {
    background-color: #f2f3f4;
}

/* lista dos eventos*/

.list-events {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    gap: 20px;
}

.list-events .card {
    width: 30%;
    flex-direction: column;
}

.list-events img {
    border-radius: 1em 1em 0 0;
}

.list-events h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* configuração mobile */

@media screen and (max-width: 768px) {

    .list-events {
        flex-direction: column;
        gap: 30px;
    }

    .list-events .card {
        width: 100%;
    }


}